Content-type: text/html

<!DOCTYPE.html>
<html>
<head>

<link rel = 'stylesheet'type = 'text/css' href = 'css/style.css'>
<title>Notes from Hive Database</title>
</head>
<body>
<ul class = 'ulmenu'>
<li class = 'limenu'>

<a href = index.py><button class = 'button'>Home</button></a>
</li>
<li class = 'limenu'>

<a href = newhive.py><button class = 'button'>New Hive</button></a>
</li>
<li class = 'limenu'>

<a href = contact.py><button class = 'button'>Contact</button></a>
</li>
<li class = 'limenu'>

<a href = products.py><button class = 'button'>Products</button></a>
</li>
<li class = 'limenu'>

<a href = about.py><button class = 'button'>About</button></a>
</li>
<li class = 'limenu'>

<a href = images.py><button class = 'button'>Images</button></a>
</li>
<li class = 'limenu'>

<a href = hiveUpdate.py><button class = 'button'>Hive Update</button></a>
</li>
<li class = 'limenu'>

<a href = hivelist.py><button class = 'button'>Hive List</button></a>
</li>
</ul>
<h1>Hive Notes</h1>
<table style = border:'1'; width:100%; >
<tr>
<th width="5px">Hive No</th><th width="10px">Date</th><th width="150px">Notes</th><th width="5px">Space</th><th width="5px" >Queen Laying</th><th>Developing</th><th>Disease</th><th>Stores</th><th>Handling</th><th>Steadiness</th><th>Brood Pattern</th><th>Pollen</th><th>Comb Building</th><th>Amend</th><th>Amend</th></tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '1'>
<td>None</td>
<td>None</td>
<td>None</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '2'>
<td>1</td>
<td>None</td>
<td>Queen seen, eggs and unsealed brood. No QC. 4 fr stores, 5 br. DFWv seen. Super 1 50%, super 2 empty</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '3'>
<td>None</td>
<td>None</td>
<td>None</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '4'>
<td>None</td>
<td>None</td>
<td>None</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '5'>
<td>None</td>
<td>None</td>
<td>None</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '6'>
<td>2</td>
<td>None</td>
<td>Q not seen, 4 fr strs, 5 br. eggs seen. looks healthy. large amt of bees. Q cups seen may be getting ready to swarm. check again in 5 days</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '7'>
<td>2</td>
<td>None</td>
<td>Q not seen, 4 fr strs, 5 br. eggs seen. looks healthy. large amt of bees. Q cups seen may be getting ready to swarm. check again in 5 days</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '8'>
<td>2</td>
<td>None</td>
<td>Q not seen, 4 fr strs, 5 br. eggs seen. looks healthy. large amt of bees. Q cups seen may be getting ready to swarm. check again in 5 days</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '9'>
<td>2</td>
<td>None</td>
<td>Q not seen, 4 fr strs, 5 br. eggs seen. looks healthy. large amt of bees. Q cups seen may be getting ready to swarm. check again in 5 days</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '10'>
<td>2</td>
<td>None</td>
<td>Q not seen, 4 fr strs, 5 br. eggs seen. looks healthy. large amt of bees. Q cups seen may be getting ready to swarm. check again in 5 days</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '11'>
<td>2</td>
<td>None</td>
<td>Q not seen, 4 fr strs, 5 br. eggs seen. looks healthy. large amt of bees. Q cups seen may be getting ready to swarm. check again in 5 days</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '12'>
<td>2</td>
<td>None</td>
<td>Q not seen, 4 fr strs, 5 br. eggs seen. looks healthy. large amt of bees. Q cups seen may be getting ready to swarm. check again in 5 days</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
<tr>
<form name = 'buttons' action = 'hiveEdit.py'>
<input type = 'hidden' name = 'key' value = '13'>
<td>2</td>
<td>None</td>
<td>Q not seen, 4 fr strs, 5 br. eggs seen. looks healthy. large amt of bees. Q cups seen may be getting ready to swarm. check again in 5 days</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td><input name = 'button' type = 'submit' value = 'Edit'></td>
<td><input name = 'button' type = 'submit' value = 'Delete'></td>
</form>
</tr>
</table>
<font size = '1'>
<div class = 'footer'>

<img src = '' height = '20' width = '20'/>
 2017
<img src = '' height = '20' width = '20'/>

</div>
</body>
</html>
